<div>
    {{event-categories type="pronite" name="Pronites" events=events}}
</div>
<div>
    {{event-categories type="music" name="Music" events=events}}
</div>
<div>
    {{event-categories type="dance" name="Dance" events=events}}
</div>
<div>
    {{event-categories type="theatre" name="Theatrecon- Dramatics" events=events}}
</div>
<div>
    {{event-categories type="gaming" name="Gaming" events=events}}
</div>
<div>
    {{event-categories name="literary" name="Literary Events" events=events}}
</div>
<div>
    {{event-categories name="talent" name="Talent Show" events=events}}
</div>
<div>
    {{event-categories name="automobile" name="Automobile Shows" events=events}}
</div>
<div>
    {{event-categories name="informal" name="Informal Events" events=events}}
</div>