{{ember-load-remover}}
<div id="_pronite">
    {{event-categories type="pronite" name="Pronites" events=events fireAction=fireAction displayEvent=displayEvent disp_cat=disp_cat disp_eve=disp_eve goBack=goBack}}
</div>
<div id="_music">
    {{event-categories type="music" name="Music" events=events fireAction=fireAction displayEvent=displayEvent disp_cat=disp_cat disp_eve=disp_eve goBack=goBack}}
</div>
<div id="_dance">
    {{event-categories type="dance" name="Dance" events=events fireAction=fireAction displayEvent=displayEvent disp_cat=disp_cat disp_eve=disp_eve goBack=goBack}}
</div>
<div id="_theatre">
    {{event-categories type="theatre" name="Dramatics" events=events fireAction=fireAction displayEvent=displayEvent disp_cat=disp_cat disp_eve=disp_eve goBack=goBack}}
</div>
<div id="_gaming">
    {{event-categories type="gaming" name="Gaming" events=events fireAction=fireAction displayEvent=displayEvent disp_cat=disp_cat disp_eve=disp_eve goBack=goBack}}
</div>
<div id="_literary">
    {{event-categories type="literary" name="Literary Events" events=events fireAction=fireAction displayEvent=displayEvent disp_cat=disp_cat disp_eve=disp_eve goBack=goBack}}
</div>
<div id="_talent">
    {{event-categories type="talent" name="Talent Show" events=events fireAction=fireAction displayEvent=displayEvent disp_cat=disp_cat disp_eve=disp_eve goBack=goBack}}
</div>
<div id="_automobile">
    {{event-categories type="automobile" name="Automobile Shows" events=events fireAction=fireAction displayEvent=displayEvent disp_cat=disp_cat disp_eve=disp_eve goBack=goBack}}
</div>
<div id="_informal">
    {{event-categories type="informal" name="Informal Events" events=events fireAction=fireAction displayEvent=displayEvent disp_cat=disp_cat disp_eve=disp_eve goBack=goBack}}
</div>
<div id="_photography">
    {{event-categories type="photography" name="Photography" events=events fireAction=fireAction displayEvent=displayEvent disp_cat=disp_cat disp_eve=disp_eve goBack=goBack}}
</div>