<div>
    <button onclick="changeView(this)" value="_pronite">Pronite</button>
    <button onclick="changeView(this)" value="_music">Music</button>
    <button onclick="changeView(this)" value="_dance">Dance</button>
    <button onclick="changeView(this)" value="_theatre">Theatre</button>
    <button onclick="changeView(this)" value="_gaming">Gaming</button>
    <button onclick="changeView(this)" value="_literary">Literary</button>
    <button onclick="changeView(this)" value="_talent">Talent</button>
    <button onclick="changeView(this)" value="_automobile">Automobile</button>
    <button onclick="changeView(this)" value="_informal">Informal</button>

</div>
<div id="_pronite">
    {{event-categories type="pronite" name="Pronites" events=events fireAction=fireAction}}
</div>
<div id="_music">
    {{event-categories type="music" name="Music" events=events fireAction=fireAction}}
</div>
<div id="_dance">
    {{event-categories type="dance" name="Dance" events=events fireAction=fireAction}}
</div>
<div id="_theatre">
    {{event-categories type="theatre" name="Theatrecon- Dramatics" events=events fireAction=fireAction}}
</div>
<div id="_gaming">
    {{event-categories type="gaming" name="Gaming" events=events fireAction=fireAction}}
</div>
<div id="_literary">
    {{event-categories name="literary" name="Literary Events" events=events fireAction=fireAction}}
</div>
<div id="_talent">
    {{event-categories name="talent" name="Talent Show" events=events fireAction=fireAction}}
</div>
<div id="_automobile">
    {{event-categories name="automobile" name="Automobile Shows" events=events fireAction=fireAction}}
</div>
<div id="_informal">
    {{event-categories name="informal" name="Informal Events" events=events fireAction=fireAction}}
</div>
<div>
    {{event-data events=events displayEvent=displayEvent}}
</div>