<h2>{{name}}</h2>
<div class="row">
    <div class="scrollable-events col-sm-3 d-block" id="scroll">
        <div style="display: block" class="card-deck">
            <div class="container">

            {{#each events as |event|}}
            {{#if (eq event.eventType type)}}
            <button class="card orange-card cat-events" onclick={{fireAction}} value={{event.eventName}} type={{event.eventType}}>
                <div class="text-white d-flex rgba-black-strong py-5 px-4">
                    <div class="card-text" >
                        <h3 class="card-title pt-2">
                            <strong>
                                <h1>{{main-name event.eventName}}</h1>
                            </strong>
                        </h3>
                    </div>
                </div>
            </button>
            {{!-- <button value={{event.eventName}} type={{event.eventType}} onclick={{fireAction}}>
            {{event.eventName}}
        </button> --}}
            {{/if}}
            {{/each}}
            </div>
        </div>
    </div>
    <div class="col-sm-1"></div>
    <div class="static-details col-sm-6 d-sm-none d-md-block" id="data">
        {{event-data events=events displayEvent=displayEvent}}
    </div>
</div>