<h1>{{name}}</h1>
<ul>
    {{#each events as |event|}}
        {{#if (eq event.eventType type)}}
            <button value={{event.eventName}} type={{event.eventType}} onclick={{fireAction}}>{{event.eventName}}</button>
        {{/if}}
    {{/each}}
</ul>
