<div id="bg-img2"></div>
<div id="bg-img">
    {{home-component}}
</div>

{{!-- <div class="text-center top home-component"> --}}
{{!-- </div> --}}
<div id="overlay_volunteers">
    <div class="moksha-volunteers">
        {{moksha-volunteers departments=this.model.departments}}
    </div>
</div>
<div id="overlay_contacts">
    <div class="moksha-contacts">
        {{moksha-contact heads=this.model.heads}}
    </div>
</div>
<div id="overlay_events">
    <div>
        {{events-minimal eventsAction=(action 'changeEventControllerMinimal')}}
    </div>
</div>
<div id="super_overlay_events">
        {{moksha-events events=this.model.events fireAction=(action 'changeEventController') displayEvent=displayEvent disp_cat=disp_cat disp_eve=disp_eve goBack=(action 'changeEventControllerMinimal')}}

    {{!-- <header class="masthead mb-auto hold" style="position: fixed">
        <div class="inner">
            <nav class="nav nav-masthead" id="navcss2">
                <a onclick="changeView(this)" value="_pronite" class="nav-link">Pronite</a>
                <a onclick="changeView(this)" value="_music" class="nav-link">Music</a>
                <a onclick="changeView(this)" value="_dance" class="nav-link">Dance</a>
                <a onclick="changeView(this)" value="_theatre" class="nav-link">Theatre</a>
                <a onclick="changeView(this)" value="_gaming" class="nav-link">Gaming</a>
                <a onclick="changeView(this)" value="_literary" class="nav-link">Literary</a>
                <a onclick="changeView(this)" value="_talent" class="nav-link">Talent</a>
                <a onclick="changeView(this)" value="_informal" class="nav-link">Informal</a>
                <a onclick="changeView(this)" value="_automobile" class="nav-link">Automobile</a>
            </nav>
        </div>
    </header> --}}
</div>

<header class="masthead mb-auto hold" style="position: fixed">
    <div class="inner">
        <nav class="nav nav-masthead navcss">
            <h5>
            <a class="nav-link active" id="_home" onclick="offExcept(this)" value="overlay_home">Home</a>
            </h5>
            <h5>
            <a class="nav-link" id="_events" onclick="offExcept(this)" value="overlay_events">Events</a>
            </h5>
            <h5>
            <a class="nav-link" id="_volunteers" onclick="offExcept(this)" value="overlay_volunteers">Volunteers</a>
            </h5>
            <h5>
            <a class="nav-link" id="_contact" onclick="offExcept(this)" value="overlay_contacts">Contact</a>
            </h5>
        </nav>
    <img class="d-sm-none"  src="/images/back.png" id="back" style="color: white; height: 5vh; right: 5%; top: 5%; position: fixed;" onclick="back()">
    </div>
</header>

{{!-- <button onclick="on_volunteers()">Volunteers</button>
<button onclick="on_contacts()">Contact</button> --}}


<!-- <div class="moksha-contact">
    {{moksha-contact heads=this.model.heads}}
</div> -->




<!--
<div class="container">
    <div class="row">
        <div class="col-sm-6">
        {{moksha-volunteers departments=this.model.departments}}
        </div>
        <div class="col-sm-6">
            {{moksha-contact heads=this.model.heads}}
        </div>
    </div>
</div>
-->