<div id="bg-img2"></div>
<div id="bg-img">
    {{home-component}}
</div>

{{!-- <div class="text-center top home-component"> --}}
    {{!-- </div> --}}
<div id="overlay_volunteers">
    <div class="moksha-volunteers">
        {{moksha-volunteers departments=this.model.departments}}
    </div>
</div>
<div id="overlay_contacts">
    <div class="moksha-contacts">
        {{moksha-contact heads=this.model.heads}}
    </div>
</div>

<header class="masthead mb-auto hold" style="position: fixed">
    <div class="inner">
        <nav class="nav nav-masthead navcss">
            <a class="nav-link active" id="_home" onclick="on_home()">Home</a>
            <a class="nav-link" id="_volunteers" onclick="on_volunteers()">Volunteers</a>
            <a class="nav-link" id="_contact" onclick="on_contacts()">Contact</a>
        </nav>
    </div>
</header>

{{!-- <button onclick="on_volunteers()">Volunteers</button>
<button onclick="on_contacts()">Contact</button> --}}


<!-- <div class="moksha-contact">
    {{moksha-contact heads=this.model.heads}}
</div> -->




<!--
<div class="container">
    <div class="row">
        <div class="col-sm-6">
        {{moksha-volunteers departments=this.model.departments}}
        </div>
        <div class="col-sm-6">
            {{moksha-contact heads=this.model.heads}}
        </div>
    </div>
</div>
-->